mixin about()
  section.about.section-navigation#about
    .container
      h2.titles Обо мне
      .about__wrap-text
        .about__text-section
          p.about__text
            | Привет, я Роман — верстальщик и веб-разработчик из Москвы. Интересуюсь веб технологиями и всем, что с этим связано.
        .about__text-section
          p.about__text В 2000 г. окончил с успешной защитой курсы HTMLAcademy по следующим направлениям:
          ul.about__list
            li.about__list-item HTML и CSS. Профессиональная вёрстка сайтов
            li.about__list-item HTML и CSS. Адаптивная вёрстка и автоматизация
            li.about__list-item JavaScript. Профессиональная разработка веб-интерфейсов
            li.about__list-item JavaScript. Архитектура клиентских приложений
            li.about__list-item Node.js. Профессиональная разработка REST API
          a.about__link(href="https://htmlacademy.ru/profile/id1248115/certificates") Посмотреть сертификаты
        .about__text-section
          p.about__text В 2000 по 2002 гг. прошел стажировку в Лиге А.
          a.about__link(href="https://disk.yandex.ru/i/Scu-6tF-eQKz5Q") Посмотреть рекомендацию
        .about__text-section
          p.about__text
            | С 2002 г занимаюсь фрилансом по верстке и веб-разработке.
            | Готов реализовать отличные проекты  с замечательными людьми.
