mixin intro()
  section.intro.section-navigation#intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h1.titles Роман Капитонов
      p Верстальщик | Веб-разработчик <span>48 лет, Москва</span>

      .intro__image
        //-+picture("content", "iam-11", "jpg", 945, 479, "Роман Капитонов")
        +picture("content", "iam-21", "jpg", 945, 215, "Роман Капитонов")
