mixin portfolio()
  section.portfolio.section-navigation#portfolio
    .container
      h2.titles(data-lang-key="headersSection")
      .portfolio__item
        .portfolio__image
          +picture("content", "severianochka", "jpg", 945, 700, "скриншот приложения severianochka")
        a.portfolio__link(href="https://kapitroman.github.io/severianochka/" data-lang-key="projectLinks") Тестовый проект "Северяночка"
        p.portfolio__description(data-lang-key="projectDescription")
      .portfolio__item
        .portfolio__image
          +picture("content", "notab", "jpg", 945, 700, "скриншот приложения notab")
        a.portfolio__link(href="https://kapitroman.github.io/notab/" data-lang-key="projectLinks")
        p.portfolio__description(data-lang-key="projectDescription")
      .portfolio__item
        .portfolio__image
          +picture("content", "poplar", "jpg", 945, 700, "скриншот сайта poplar")
        a.portfolio__link(href="https://kapitroman.github.io/poplar/" data-lang-key="projectLinks")
        p.portfolio__description(data-lang-key="projectDescription")
      .portfolio__item
        .portfolio__image
          +picture("content", "jewellery", "jpg", 945, 700, "скриншот сайта jewelly")
        a.portfolio__link(href="https://kapitroman.github.io/Jellewery/" data-lang-key="projectLinks")
        p.portfolio__description(data-lang-key="projectDescription")
