.section-navigation {
  padding: 120px 0 90px 0;

  text-align: center;

  &:nth-of-type(2n) {
    background-color: $color-white-smoke;
  }

  @include vp-374 {
    padding: 133px 0 60px 0;
  }
}

[data-color-theme="dark"] .section-navigation {
  &:nth-of-type(2n) {
    background-color: $color-night-rider;
  }
}
